body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    margin: 0;
    padding: 0;
}

h1 {
    color: blueviolet;
    font-size: 4em;
    font-family: 'Seaweed Script', cursive;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 12px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.6px;
}

h2 {
    font-size: 2.5em;
    font-family: 'Lobster Two', cursive;
    color: blueviolet;
}

h3 {
    font-size: 1.9em;
    font-family: 'Lobster Two', cursive;
}
h5 {
    font-size: 4em;
    font-family: 'Lobster Two', cursive;
    color: blueviolet;
}

.text-bg {
    background-color: #fbc522;
    padding: 4px 12px;
    border-radius: 12px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

.description {
    background-color: #ffd149;
    padding: 8px 18px;
    border-radius: 18px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.contact {
    background-color: #ffd149;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 12px;
    border-radius: 12px;
    margin: 5px;
}

img {
    border-radius: 12px;
}

h4 {
    font-size: 1.9em;
    text-align: center;
    color: #ffd149;
    font-family: 'Lobster Two', cursive;
}

.fa-custom {
    font-size: 1.9em;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    background-color: maroon;
}

.title {
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 12px;
}

.img-portfolio-container {
    text-align: center;
}

.portfolio-image {
    max-width: 100%;
    max-height: 400px;
    padding: 8px 16px;
    border-radius: 20px;
}

.btn {
    background-color: #fff376;
    padding: 2px 8px;
    margin: 6px;
}

.logo {
    margin-left: 20%;
    margin-top: 5%;
}

hr {
    line-height: 300px;
    border-top: 2px solid blueviolet;
}
